<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-accordian title="Important Documents">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Booking Process">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Payment Policy">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Price & Additional Charges">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Optional Extra">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Vehicle Information">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
 

  
</ion-content>
