<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding form">  
  <ion-label>Current Password</ion-label>
  <ion-input></ion-input>

  <ion-label>New Password</ion-label>
  <ion-input></ion-input>

  <ion-label>Comfirm New Password</ion-label>
  <ion-input></ion-input>
  <div class="box-45"></div>

  <ion-button (click)="onClick()" class="btn">Update Password</ion-button>  

</ion-content>
