.form{    
    ion-label{
        font-family: var(--font-roboto);
        font-size: 15px;
        line-height: 20px;
        color: Grey2;
        display: flex;
        margin-top: 14px;
        margin-bottom: 8px;
    }
    ion-input{
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
}