<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="header-img">
            <img src="assets/img/header-logo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">    
    <ion-row class="divider profile">
        <ion-col>
            <img src="assets/img/profile.png" class="icon">
        </ion-col>
        <ion-col size="10">
          <span class="name label">Ko Zaw</span>
          <span class="edit" (click)="editprofile()">Edit profile</span> 
        </ion-col>
      </ion-row>
      <ion-list lines="none" class="divider">
        <ion-item>                    
          <ion-label (click)="changepassword()">Change Password</ion-label>
          
        </ion-item>
        <ion-item>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Language</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>About gorentcar.com</ion-label>
        </ion-item>        
      </ion-list> 
      <ion-list lines="none" class="divider">
        <ion-item>
          <ion-label>Contact Us</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Settings</ion-label>
        </ion-item>        
      </ion-list> 
      <ion-list lines="none" class="divider">
        <ion-item>
          <ion-label>Terms & Conditions</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Privacy Policy</ion-label>
        </ion-item>        
        <ion-item>
          <ion-label>FAQs</ion-label>
        </ion-item>
        <ion-item>
          <ion-label (click)="loginRegister()">Logout</ion-label>
        </ion-item>        
      </ion-list>  

    <!-- <app-explore-container name="Tab 4 page"></app-explore-container> -->
</ion-content>