<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="back-button"></ion-back-button>
        </ion-buttons>
        <ion-title>
            My Reservation
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="type" color="light">
        <ion-segment-button class="tab-title" value="within">
            <ion-label>Within Yangon</ion-label>
        </ion-segment-button>
        <ion-segment-button class="tab-title" value="outside">
            <ion-label>Outside Yangon</ion-label>
        </ion-segment-button>
        <ion-segment-button class="tab-title" value="other">
            <ion-label>Other</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="type">
        <div *ngSwitchCase="'within'" class="within tab">
            <div class="tab-content">
                <ion-label>Rental Type</ion-label>
                <ion-select placeholder="Half Day">
                    <ion-select-option value="half-day">Half Day</ion-select-option>
                    <ion-select-option value="full-day">Full Day</ion-select-option>
                </ion-select>
                <ion-label>Pick Up Location</ion-label>
                <ion-input> <i class="icon ion-ios-telephone"></i></ion-input>
                <ion-label>Drop Off Location</ion-label>
                <ion-input></ion-input>
            </div>

            <ion-row class="calender-box">
                <img src="/assets/img/calender-arrow.png" class="arrow">
                <ion-col class="margin-right">
                    <ion-card class="no-margin" (click)="openCalendar()">
                        <ion-card-header>
                            <ion-card-title>Pick Up</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <span class="date">{{ tmr | date: 'dd' }}</span><span class="month">{{ tmr | date: 'MMM' }}</span>
                            <span class="year">{{ tmr | date: 'yyyy' }}</span>
                        </ion-card-content>
                        <div class="divider-top">
                            <span class="time">10:00 AM</span>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col class="margin-left">
                    <ion-card class="no-margin" (click)="openCalendar()">
                        <ion-card-header>
                            <ion-card-title>Drop Off</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <span class="date">{{ tdat | date: 'dd' }}</span><span class="month">{{ tdat | date: 'MMM' }}</span>
                            <span class="year">{{ tdat | date: 'yyyy' }}</span>
                        </ion-card-content>
                        <div class="divider-top">
                            <span class="time">10:00 AM</span>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>



            <ion-button class="primary-btn" (click)=ChooseCar()>Search</ion-button>
        </div>

        <div *ngSwitchCase="'outside'" class="outside tab">
            <div class="tab-content">
                <ion-label>Pick Up City</ion-label>
                <ion-select placeholder="Choose a City">
                    <ion-select-option value="yangon">Yangon</ion-select-option>
                    <ion-select-option value="mandalay">Mandalay</ion-select-option>
                </ion-select>
                <ion-label>Pick Up Location</ion-label>
                <ion-input> <i class="icon ion-ios-telephone"></i></ion-input>
                <ion-label>Drop Off City</ion-label>
                <ion-select placeholder="Choose a City">
                    <ion-select-option value="yangon">Yangon</ion-select-option>
                    <ion-select-option value="mandalay">Mandalay</ion-select-option>
                </ion-select>
                <ion-label>Drop Off City</ion-label>
                <ion-input></ion-input>
            </div>

            <ion-row class="calender-box">
                <img src="/assets/img/calender-arrow.png" class="arrow">
                <ion-col class="margin-right">
                    <ion-card class="no-margin" (click)="openCalendar()">
                        <ion-card-header>
                            <ion-card-title>Pick Up</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <span class="date">{{ tmr | date: 'dd' }}</span><span class="month">{{ tmr | date: 'MMM' }}</span>
                            <span class="year">{{ tmr | date: 'yyyy' }}</span>
                        </ion-card-content>
                        <div class="divider-top">
                            <span class="time">10:00 AM</span>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col class="margin-left">
                    <ion-card class="no-margin" (click)="openCalendar()">
                        <ion-card-header>
                            <ion-card-title>Drop Off</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <span class="date">{{ tdat | date: 'dd' }}</span><span class="month">{{ tdat | date: 'MMM' }}</span>
                            <span class="year">{{ tdat | date: 'yyyy' }}</span>
                        </ion-card-content>
                        <div class="divider-top">
                            <span class="time">10:00 AM</span>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>

            <ion-button class="primary-btn" (click)=ChooseCar()>Search</ion-button>
        </div>
        <div *ngSwitchCase="'other'" class="other tab">
            <div class="tab-content">
                <p>For other destinations and urgent booking. Please contact us at <span>info@gocarrental.com</span> or
                    <span>09 123 412 304</span></p>
            </div>
        </div>
    </div>
</ion-content>