ion-segment{
    background: #FFFFFF;
}
ion-title{
    text-align: center;
}
.tab-title{
    text-transform: capitalize;
    font-family: var(--font-roboto);
    font-size: 13px;
    line-height: 16px;
}
.tab{
    padding-left: 14px;
    padding-right: 14px;
}

.right-col{    
   float: right;
   color: var(--color-grey2);
}
.icon{
    background: #FFFFFF;
    border: 1px solid var(--color-grey3);
    border-radius: 50%;
    padding: 7px;
    box-sizing: border-box;
}

.past{
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: 13px;
    line-height: 16px;
    color: var(--color-grey1);
    .list-title{
        font-family: var(--font-roboto);
        font-size: 15px;
        line-height: 16px;
        color: var(--color-grey1);
    }   
    .calender{
        display: inline-block;
        font-family: Roboto;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-grey1);
    }
    .label{
        color: var(--color-grey3);
        padding-right: 5px;
    }    
}
.current{
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: 13px;
    line-height: 16px;
    color: var(--color-grey1);
    .list-title{
        font-family: var(--font-roboto);
        font-size: 15px;
        line-height: 16px;
        color: var(--color-grey1);
    }
    .car-info{
        padding: 10px 0;
        .title{ 
            color: var(--color-grey1);
            font-family: var(--font-roboto);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;            
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 0;
        }        
        .img-box{                    
            border-radius: 5px;
        }
        .rate{
            color: var(--color-grey1);
            font-family: var(--font-roboto);
            font-size: 13px;
            line-height: 16px;
        }       
    }    
    .calender{
        display: inline-block;
        font-family: Roboto;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-grey1);
    }
    .label{
        color: var(--color-grey3);
        padding-right: 5px;
    }    
}
