ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;    
    --min-height: 0px;
    ion-label{
        color: var(--color-grey2);
        font-family: var(--font-roboto);
        font-style: normal;        
        font-size: 11px;
        line-height: 14px;
    }
}
.cancel{
    text-align: center; 
    color: var(--color-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}