<ion-header>
  <ion-toolbar>   
      <ion-back-button class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Email Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding form-content">
  <form class="ion-no-padding">    
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" class="no-padding"></ion-input>
    </ion-item>  
  </form>
  <ion-button (click)="home()" class="primary-btn mx-15" shape="round">Reset Password</ion-button>
  <p class="cancel" (click)="login()">Cancel</p> 
</ion-content>>
