
<ion-content class="welcome ion-padding-top">
  <img src="/assets/img/logo.png" class="logo">
  <p>Find and rent cars from people near you</p>
  <ion-slides [options]="splashSlider">  
    <ion-slide class="slide">
      <ion-card class="card">
        <div class="img-box">
          <img src="/assets/img/welcome-01.png" alt="">
        </div>
        <p>Browse and explore all available cars within your area and community</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide">
      <ion-card class="card">
        <div class="img-box">
          <img src="/assets/img/welcome-01.png" alt="">
        </div>
        <p>Choose from over 300 unique makes and models, from affordable daily drivers to rare specialty cars.</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide">
      <ion-card class="card">
        <div class="img-box">
          <img src="/assets/img/welcome-01.png" alt="">
        </div>
        <p>List your car for free and have peace of mind with insurance coverage. You’re in control.</p>
      </ion-card>
    </ion-slide>
  </ion-slides>      
</ion-content>
<ion-footer class="footer">
  <ion-button (click)="home()" class="btn"> Get Start Now</ion-button>
</ion-footer>
