
<ion-content class="welcome ion-padding-top">
  <img src="/assets/img/logo.png" class="logo">
  <h3 class="title">Find and rent cars from people near you</h3>
  <ion-slides [options]="splashSlider">  
    <ion-slide class="slide">
      <ion-card class="card">
        <div class="img-box">
          <img src="/assets/img/welcome-01.png" alt="">
        </div>
        <p class="content">Browse and explore large range of cars for your destinations</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide">
      <ion-card class="card">
        <div class="img-box">
          <img src="/assets/img/welcome-01.png" alt="">
        </div>
        <p class="content">Choose from available cars within affordable rental fees to specialty brand cars</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide">
      <ion-card class="card">
        <div class="img-box">
          <img src="/assets/img/welcome-01.png" alt="">
        </div>
        <p class="content">Make booking of car that suits your requirement and payment easily</p>
      </ion-card>
    </ion-slide>
  </ion-slides>      
</ion-content>
<ion-footer class="footer">
  <ion-button (click)="home()" class="primary-btn"> Get Start Now</ion-button>
</ion-footer>
