.right-col{    
   float: right;
   color: var(--color-grey2);
}
ion-input{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    font-family: var(--font-roboto);    
    font-size: 15px;
    line-height: 20px;
    color: var(--color-grey3);
}
.apply-btn{
    --border-radius: 3px;    
}
.booking{
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: 13px;
    line-height: 16px;
    color: var(--color-grey1);
    .icon{
        border: 1px solid var(--color-grey3);
        border-radius: 50%;
        padding: 7px;
        box-sizing: border-box;
    }
    .change{
        display: block;
        font-family: var(--font-roboto);
        color: var(--color-primary);
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
        text-transform: uppercase;
    }
    .list-title{
        font-family: var(--font-roboto);
        font-size: 15px;
        line-height: 16px;
        color: var(--color-grey1);
    }
    .car-info{
        padding: 10px 0;
        .title{ 
            color: var(--color-grey1);
            font-family: var(--font-roboto);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;            
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 0;
        }        
        .img-box{                    
            border-radius: 5px;
        }
        .rate{
            color: var(--color-grey1);
            font-family: var(--font-roboto);
            font-size: 13px;
            line-height: 16px;
        }       
    }    
    .calender{
        display: inline-block;
        font-family: Roboto;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-grey1);
    }
    .label{
        color: var(--color-grey3);
        padding-right: 5px;
    }    
    .total{
        margin-top: 10px;
    }
}
.payment{
    font-family: var(--font-roboto);
    color: var(--color-grey1);
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
}
.payment-box{
    margin: 0;
    ion-radio{
        margin-right: 10px;
    }
    ion-label{
        font-family: var(--font-roboto);
        color: var(--color-grey2);
        font-weight: bold;
        font-size: 15px;
        line-height: 16px;
    }
    .img-box{
        margin-right: 10px;
    }
}
